feedback/
data/
commands
*/scripts/ngData/
*/scripts/log.update

# Angular files
# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
*/public
*/prod_work
*/aot_files/htppwd/
*/package-lock.json
*/src/assets
*/src/*.js

# dependencies
*/node_modules
*/.angular

# IDEs and editors
*/.sass-lint.yml
*/tsconfig-prod-aot.json

# misc
npm-debug.log

# System Files
*/.DS_Store
*/Thumbs.db

app_uni*/src

# Data files
*/src/app
