feedback/
output/
output.bak/
bak/
data/
clean_angular/
commands
bwUniCluster*/scripts/ngData/
bwUniCluster*/scripts/log.update
bwUniCluster*/scripts/single_es_out.log

# Angular files
# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
bwUniCluster*/dist
bwUniCluster*/tmp
bwUniCluster*/out-tsc
bwUniCluster*/public
bwUniCluster*/prod_work
bwUniCluster*/src/favicon.ico
bwUniCluster*/src/main.aot.ts
bwUniCluster*/aot_files/htppwd/
bwUniCluster*/package-lock.json

# dependencies
bwUniCluster*/node_modules

# IDEs and editors
bwUniCluster*/.sass-lint.yml
bwUniCluster*/tsconfig-prod-aot.json

# misc
npm-debug.log

# System Files
bwUniCluster*/.DS_Store
bwUniCluster*/Thumbs.db

# AOT files
bwUniCluster*/src/styles.css

app_uni*/src
app_uni*/node_modules
app_uni*/package-lock.json

# Data files
bwUniCluster*/src/app
total.ts
